{% extends 'base.html' %}

{% block title %}Create a Booking{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-title mb-3 text-center">Create a Booking</h3>
                
                <form method="post" novalidate>
                    {% csrf_token %}

                    <!-- Show general form errors -->
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger small mt-1">
                                    {% for error in field.errors %}
                                        {{ errors }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary w-100">Book Now</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
