{% extends 'base.html' %}

{% block title %}My Bookings{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">My Bookings</h2>

    {% if bookings %}
    <div class="table-responsive">
        <table class="table table-striped table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Guests</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr>
                    <td>{{ booking.date }}</td>
                    <td>{{ booking.time|time:"H:i" }}</td>
                    <td>{{ booking.number_of_guests }}</td>


                    {% if booking.status == "approved" or booking.status == "pending" %}
                    <a href="{% url 'cancel_booking' booking.id %}" class="btn btn-danger btn-sm">
                        Cancel
                    </a>
                    {% endif %}