{% extends 'base.html' %}
{% load static %}

{% block content %}
<header id="hero">
    <!-- section with hero image -->
    <div class="container">
        <div class="row">
            <!-- text-center class used to centre all text inside column -->
            <div class="col-12 text-center text-white">
                <h1 class="display-4 my-4">Welcome to The Celtic Spoon</h1>
                <!-- mb-5 gives extra margin spacing under subheading -->
                <h2 class="display-6 mb-5">An Exquisite Fine Dining Experience</h2>
                <p>
                    Rooted in Celtic heritage and elevated with contemporary creativity,
                    The Celtic Spoon brings together Irish, Scottish, and Northern European
                    flavours with delicate Turkish influences for a truly distinctive dining experience.
                </p>
                <!-- Button trigger modal -->
                <a href="{% url 'create_booking' %}" class="btn btn-primary">
                    Reserve Your Table
                </a>

            </div>
        </div>
    </div> <!-- container -->
</header>

<section id="why-choose-us" class="py-5 bg-ligth">
    <div class="container text-center">
        <h2 class="mb-3">Why Choose Us</h2>
        <p class="mb-5 text-muted">Experience the finest in culinary excellence</p>

        <div class="row g-4">

            <!-- Card 1 -->
            <div class="col-md-4">
                <div class="card custom-card h-100 text-center">
                    <div class="icon-wrapper mx-auto">
                        <i class="fa-solid fa-utensils"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Culinary Craftsmanship</h5>
                        <p>
                            Rooted in tradition and refined with creativity,
                            each dish reflects true Celtic heritage.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4">
                <div class="card custom-card h-100 text-center">
                    <div class="icon-wrapper mx-auto">
                        <i class="fa-solid fa-leaf"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Fresh Ingredients</h5>
                        <p>
                            Thoughtfully sourced seasonal ingredients ensure depth and authenticity in every bite.
                        </p>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4">
                <div class="card custom-card h-100 text-center">
                    <div class="icon-wrapper mx-auto">
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Warm Hospitality</h5>
                        <p>
                            An inviting atmosphere blending rustic charm
                            with refined elegance..
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container -->
</section>

<section id="signature-dishes" class="py-5">
    <div class="container">

        <div class="text-center mb-5">
            <h2 class="section-title">Signature Dishes</h2>
            <p class="section-subtitle">A preview of our culinary artistry</p>
        </div>

        <div class="row g-4">

            <!-- Dish 1 -->
            <div class="col-md-3">
                <div class="dish-card">
                    <img src="/static/assets/images/smoked_salmon_and_dill_yoghurt.png"
                        alt="Smoked Salmon and Dill Yoghurt">
                    <div class="dish-overlay">
                        <h5>Smoked Salmon & Dill Yoghurt</h5>
                    </div>
                </div>
            </div>

            <!-- Dish 2 -->
            <div class="col-md-3">
                <div class="dish-card">
                    <img src="/static/assets/images/irish_lamb_stew_with_anatolian_herbs.png"
                        alt="Irish Lamb Stew with Anatolian Herbs">
                    <div class="dish-overlay">
                        <h5>Irish Lamb Stew with Anatolian Herbs</h5>
                    </div>
                </div> 
            </div>

            <!-- Dish 3 -->
            <div class="col-md-3">
                <div class="dish-card">
                    <img src="/static/assets/images/wild_mushroom_borek_pastry.png" alt="Wild Musheoom Borek Pastry">
                    <div class="dish-overlay">
                        <h5>Wild Mushroom Borek Pastry</h5>
                    </div>
                </div>
            </div>

            <!-- Dish 4 -->
            <div class="col-md-3">
                <div class="dish-card">
                    <img src="/static/assets/images/baileys_and_honey_baklava_slice.png"
                        alt="Baileys and Honey Baklava Slice">
                    <div class="dish-overlay">
                        <h5>Baileys & Honey Baklava Slice</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section id="dine-with-us">
    <div class="container text-center">
        <h2>Ready to Dine With Us?</h2>
        <p>Book your table now and experience fine dining at its best</p>

        <div class="d-flex justify-content-center align-items-center gap-3 flex-wrap mt-4">
            <a href="{% url 'create_booking' %}" class="btn btn-primary d-flex align-items-center gap-2">
                <i class="bi bi-journal-check"></i>
                Reserve Your Table
            </a>

            <span class="d-flex align-items-center">
                <i class="bi bi-telephone-fill me-2"></i>
                <span>or call</span>
                <a href="" class="ms-2">
                    (555) 123 45 67
                </a>
            </span>
        </div>
    </div>
</section>
{% endblock %}